{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} Portfolio {% endblock %}</title>
</head>

<body>
    {% block body %}

    <!-- Home section start -->
    <section id="home" class="home_section">
        <div class="banner_image"></div>
        <div class="banner_text">Hi, my name is Samuel</div>
    </section>

    

    {% endblock %}
</body>

</html>